* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.game.board {
  display: flex;
  flex-direction: column;
}

.game.row {
  display: flex;
  flex-direction: row;
}

.game.piece {
  margin-bottom: -3.933px;

}

.game.piece.east {}

.game.piece>img {
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
}
